
 
 
            <div class="block" >
                <div class="main-container-in" >

                    <div class="container__menu-center pad__tb-big" >

                        <div class="a" 
                        [routerLink]="['/info/company']"  > About Company </div>

                        <div class="a" 
                        [routerLink]="['/info/terms']"  > Terms of Usage </div>

                        <div class="a" 
                        [routerLink]="['/info/policy']"  >  Privacy Policy </div>

                    </div>

                </div>
            </div>



            <div class="block block__color-second block__footer" >
                <div class="main-container-in footer cntr__mob-text-center" >

                    <p class="footer__rights cntr__row pad__tb-small cntr__flex-center" >
                        © 2017  Fabulive, All Right Reserved 
                    </p>

                    <div class="footer__social cntr__row pad__tb-small" >
                        <a href="https://www.facebook.com/" target="_blank" >
                            <img class="icon icon__social-left cntr__row-icon" 
                            src="/assets/images/ico-fb.svg" />
                        </a>
                        <a href="https://twitter.com" target="_blank">
                            <img class="icon icon__social-left cntr__row-icon" 
                            src="/assets/images/ico-tw.svg" />
                        </a>
                        <a href="https://www.instagram.com" target="_blank" >
                            <img class="icon icon__social-left cntr__row-icon" 
                            src="/assets/images/ico-insta.svg" />
                        </a>
                    </div>

                </div>
            </div>
