<div class="wrapper">


<header class="site-header">

            <div class="site-header__top  main-header">
                <div class="menu">
                    <button class="small-btn sidebar-toggle" type="button" title="Open sidebar">
                        <span class="visually-hidden">Open sidebar</span>
                        <svg class="icon" width="16" height="12">
                            <use xlink:href="/assets/images/sprite.svg#ico-side-bar" />
                        </svg>
                    </button>
                </div>
                <div class="searchblock">
                    <!-- class "searchblock--toggled" to open search on mobile-->
                    <form action="" class="search-form" method="get">
                        <button class="small-btn small-btn--search" type="submit">
                            <span class="visually-hidden">Search</span>
                            <svg class="icon" width="21" height="20">
                                <use xlink:href="/assets/images/sprite.svg#ico-search" />
                            </svg>
                        </button>
                        <input class="search-form__input" type="search" id="search-field" name="search-field" placeholder="Search" required>
                        <ul class="search-helper">
                        <li class="search-helper__item">ariana grande</li>
                        <li class="search-helper__item">adele</li>
                        <li class="search-helper__item">america got talent</li>
                        <li class="search-helper__item">anhjhggh</li>
                        <li class="search-helper__item">aghh</li>
                        <li class="search-helper__item">amjklp</li>
                        </ul>
                    </form>
                </div>
                <div class="logo">
                    <h1 class="visually-hidden">Fabulive</h1>
                    <img class="main-header__img" title="Fabulive"
                        [routerLink]="['/']"
                    src="/assets/images/ico_logo_pink.svg"
                     />
                </div>


                <div class="download">
                    <a href="" class="download__link">
                        <svg class="icon" width="18" height="22">
                            <use xlink:href="/assets/images/sprite.svg#ico-mobile" />
                        </svg>
                        <span class="download__text">Download App</span>
                        <svg class="icon  icon--down" width="7" height="4">
                            <use xlink:href="/assets/images/sprite.svg#ico-drop-down" />
                        </svg>
                    </a>
                </div>


                <div class="userblock">
                    <a class="userblock__link" href="">
                        <div class="avatar">
                            <img class="avatar__img" src="/assets/images/avatar-1.jpg"  width="28" height="28"  alt="">
                        </div>
                        <span class="userblock__name">Alex Gurinenko</span>
                        <svg class="icon  icon--down" width="7" height="4">
                            <use xlink:href="/assets/images/sprite.svg#ico-drop-down" />
                        </svg>
                    </a>
                </div>
            </div>
    </header>

    <main class="site-content  site-content--broadcast">

    <aside class="site-sidebar">
        <!-- class "site-sidebar--toggled" to display menu on mobile-->
        <div class="site-sidebar__inner">
        <div class="site-sidebar__track">

        <nav class="site-navigation">
                <ul class="site-navigation__list">
                    <li class="site-navigation__item">
                        <a href="#" class="site-navigation__link">
                                <svg class="icon" width="16" height="16">
                                    <use xlink:href="/assets/images/sprite.svg#ico-home" />
                                </svg>
                                <span>Home</span>
                            </a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#" class="site-navigation__link  site-navigation__link--active">
                                <svg class="icon" width="17" height="17">
                                    <use xlink:href="/assets/images/sprite.svg#ico-explore" />
                                </svg>
                                <span>Explore</span>
                            </a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#" class="site-navigation__link">
                                <svg class="icon  icon--stroke" width="18" height="18">
                                    <use xlink:href="/assets/images/sprite.svg#ico-star" />
                                </svg> 
                                <span>Following</span>
                            </a>
                            </li>
                            <li class="site-navigation__item">
                                <a href="#" class="site-navigation__link">
                                <svg class="icon" width="13" height="13">
                                    <use xlink:href="/assets/images/sprite.svg#ico-profile-sm" />
                                </svg> 
                                <span>My profile</span>
                            </a>
                            </li>
                </ul>
            </nav>
            <div class="categories-navigation">
                <h2 class="site-sidebar__title">Categories</h2>
                <ul class="categories-navigation__list">
                    <li class="categories-navigation__item">
                        <a href="" class="categories-navigation__link">
                            <span class="categories-navigation__category-name">Category 1</span>
                            <span class="categories-navigation__category-number">(32)</span>
                        </a>
                    </li>
                    <li class="categories-navigation__item">
                        <a href="" class="categories-navigation__link">
                            <span class="categories-navigation__category-name">Category 2</span>
                            <span class="categories-navigation__category-number">(32)</span>
                        </a>
                    </li>
                    <li class="categories-navigation__item">
                        <a href="" class="categories-navigation__link">
                            <span class="categories-navigation__category-name">Category 3</span>
                            <span class="categories-navigation__category-number">(32)</span>
                        </a>
                    </li>
                    <li class="categories-navigation__item">
                        <a href="" class="categories-navigation__link">
                            <span class="categories-navigation__category-name">Category 4</span>
                            <span class="categories-navigation__category-number">(32)</span>
                        </a>
                    </li>
                    <li class="categories-navigation__item">
                        <a href="" class="categories-navigation__link">
                            <span class="categories-navigation__category-name">Category 5</span>
                            <span class="categories-navigation__category-number">(32)</span>
                        </a>
                    </li>
                </ul>
                <a href="" class="categories-navigation__show-link  categories-navigation__show-link--more">Show more</a>
                <a href="" class="categories-navigation__show-link  categories-navigation__show-link--less hidden">Show less</a>
            </div>
            </div>
        </div>
    </aside>

    <!-- <app-main></app-main> -->

    
        <section class="broadcast">
            <div class="broadcast__main">
            <div class="video-container">
            <header class="video-container__header">
                <div class="username">                                    
                    <a class="username__link" href="#" title="username">
                        <div class="avatar avatar--video-full avatar--default"><span class="avatar__first-letter">U</span></div>
                        <div class="username__text">
                            <div class="username__nickname">username</div>
                            <div class="username__adress">City, Country</div>
                        </div>
                     </a>
                </div>
                <div class="video-container__btns">
                    <button class="button button-pink button--follow" type="button" title="Follow">
                        <svg class="icon" width="15" height="17">
                            <use xlink:href="/assets/images/sprite.svg#ico-follow" />
                        </svg>
                        <span>Follow</span>
                    </button>
                </div>
                <div class="video-info  video-info--broadcast">

                    <div class="video-info__item video-info__item--watchers">
                         <span class="video-info__icon">
                            <svg class="icon" width="14" height="10">
                                <use xlink:href="/assets/images/sprite.svg#ico-eye-white" />
                            </svg>
                        </span>
                        <span class="video-info__number">345</span>
                    </div>

                    <div class="video-info__item  video-info__item--time">
                         <span class="video-info__icon">
                            <svg class="icon" width="12" height="12">
                                <use xlink:href="/assets/images/sprite.svg#ico-clock" />
                            </svg>
                        </span>
                        <span class="video-info__number">0:24</span>
                    </div>
                </div>
                <div class="broadcast__menu-toggle">
                    <svg class="icon" width="15" height="3">
                        <use xlink:href="/assets/images/sprite.svg#btn-more-small" />
                    </svg>
                </div>
            </header>
            <div class="video-container__main">
                <div class="video__wrapper">

                </div>
                <div class="likes">
                    <button class="button button-like" type="button" title="like">
                        <svg class="icon" width="20" height="20">
                            <use xlink:href="/assets/images/sprite.svg#ico-heart" />
                        </svg>
                        <span class="visually-hidden">Like</span>
                    </button>
                    <span class="likes__count">
                        12.3K
                    </span>
                    <div class="hearts">
                        <span class="hearts__item">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/assets/images/sprite.svg#ico-heart" />
                            </svg>
                        </span>
                        <span class="hearts__item">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/assets/images/sprite.svg#ico-heart" />
                            </svg>
                        </span>
                        <span class="hearts__item">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/assets/images/sprite.svg#ico-heart" />
                            </svg>
                        </span>
                        <span class="hearts__item">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/assets/images/sprite.svg#ico-heart" />
                            </svg>
                        </span>
                        <span class="hearts__item">
                            <svg class="icon" width="20" height="20">
                                <use xlink:href="/assets/images/sprite.svg#ico-heart" />
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <footer class="video-container__footer">

                <div class="gift-block">
                    <div class="gift-block__shelf">
                        <span class="btn-next"  title="Next">
                            <svg class="icon" width="6" height="10">
                                <use xlink:href="/assets/images/sprite.svg#ico-arrow-left" />
                            </svg>
                        </span>
                        <span class="btn-prev"  title="Previous">
                            <svg class="icon" width="6" height="10">
                                <use xlink:href="/assets/images/sprite.svg#ico-arrow-left" />
                            </svg>
                        </span>
                        <div class="gift-block__shelf-inner">

                            <div class="gift-block__shelf-track">

                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-1.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">3</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-2.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">4</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-3.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">5</span>
                            </div>
                            <div class="gift  gift--active">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-4.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">6</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-5.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">201</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-6.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">40</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-7.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">7</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-8.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">107</span>
                            </div>
                            <div class="gift">
                                <div class="gift__img-wrapper"><img src="/assets/images/gift-8.svg" alt="" class="gift__img"></div>
                                <span class="gift__amount">107</span>
                            </div>

                            </div>
                        </div>
                    </div>
                    <div class="gift-block__btns">
                        <button class="button button-pink button--buy-gifts" type="button" title="Buy more gifts">Buy more</button>
                        <button class="button button-pink button--send-gift " type="button" title="Send gift">Send</button>
                    </div>
                </div>
            </footer>
            </div>
    <section class="chat">
        <header class="chat__header">
            <div class="chat__greeting">
                <p>Welcome to the Fabulive room! Be nice to each other! Fabulive.com does not tolerate abuse, bigotry, sexual harassment, solicitation, or bullying.</p>
            </div>
        </header>
        <ul class="chat__inner">
            <li class="chat-message  chat-message--event  chat-message--join">
                <a class="chat-message__link" href="">
                    <div class="avatar  avatar--chat"></div>
                </a>
                <div class="chat-message__text">
                    <span class="chat-message__autor"><a class="chat-message__link" href="">Francesca Seritella</a></span>
                    <p class="chat-message__p"> join room</p>
                </div>
            </li>
            <li class="chat-message  chat-message--receive">
                <a class="chat-message__link" href="">
                    <div class="avatar  avatar--chat"></div>
                </a>
                <div class="chat-message__text">
                    <span class="chat-message__autor"><a class="chat-message__link" href="">Francesca Seritella</a></span>
                    <p class="chat-message__p">Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </li>
            <li class="chat-message  chat-message--event  chat-message--gift  chat-message--gift-1">
                <a class="chat-message__link" href="">
                    <div class="avatar  avatar--chat"></div>
                </a>
                <div class="chat-message__text">
                    <span class="chat-message__autor"><a class="chat-message__link" href="">username</a></span>
                    <p class="">sent a parfume</p>
                    <span class="chat-message__gift-icon"></span>
                </div>
            </li>
            <li class="chat-message  chat-message--sent">
            </li>
        </ul>
        <div class="chat__form-wrapper">
            <form action="" method="post" id="chatform" class="chat__form">
                <div class="chat__field-wrapper">
                    <textarea class="chat__field" id="message" name="message" rows="1" maxlength="1000" required="required"></textarea>
                    <label class="chat__label" for="message">
                        <span class="chat__label-icon">
                        </span>
                        <span class="chat__label-text">Comment</span>
                    </label>              
                </div>
                <input name="submit" type="submit" id="submit" class="chat__form-submit" value="Post">
            </form>
        </div>

    </section>

            </div>
            <div class="broadcast__secondary">

            <div class="description">
                <!-- class description--full to see full text-->
                <header class="description__header">
                    <h1 class="description__title">How To Find Your Perfect Lip in 5 minutes?</h1>
                    <p class="description__category">Category</p>                    
                </header>
                <div class="description__text">
                    <p class="description__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed tellus iaculis, iaculis ex a, ultricies lacus. Nullam venenatis egestas rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    <p class="description__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed tellus iaculis, iaculis ex a, ultricies lacus. Nullam venenatis egestas rhoncus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <p class="description__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>                    
                </div>

                <a href="" class="read-more-link">Read description</a>
            </div>
        <section class="feed  feed--inner-page  feed--broadcast">
            <div class="feed__container">
                <div class="shelf">
                    <span class="btn-next"  title="Next">
                        <svg class="icon" width="6" height="10">
                            <use xlink:href="/assets/images/sprite.svg#ico-arrow-left" />
                        </svg>
                    </span>
                    <span class="btn-prev"  title="Previous">
                        <svg class="icon" width="6" height="10">
                                <use xlink:href="/assets/images/sprite.svg#ico-arrow-left" />
                        </svg>
                    </span>
                    <header class="shelf__header">
                        <h2 class="shelf__title">Suggested</h2>
                        <a href="" class="see-all-link">See all (<span class="see-all-link__number">50</span>)</a>
                    </header>
                    <div class="shelf__content">
<div class="shelf__content-inner">



                    <article class="card">
                        <header class="card__header">
                             <div class="username">
                                <div class="username__main-info">
                                    <a class="username__link" href="#">
                                        <div class="avatar"><img  class="avatar__img"  src="/assets/images/avatar-1.jpg"  width="20" height="20" alt=""></div>
                                        <div class="username__nickname">bobby.brown</div>
                                    </a>
                                </div>
                                <div class="username__secondary-info"></div>
                            </div>
                         </header>
                        <div class="card__content">
                            <a href="#" class="card__link" title="How To find your perfect lip in 5 minutes and bla-bla-bla">
                                <div class="card__tumbnail  card__tumbnail--has-tumbnail"><img src="/assets/images/tumb-1.jpg" width="auto" height="140" alt="" class="card__img"></div>
                                <div class="card__title">
                                    <span class="skin-color-indicator skin-color-indicator--1"  title="Light skin color"></span>
                                    <span class="card__category">Makeup Tips</span>
                                    <h3 class="card__video-title">How To find your perfect lip in 5 minutes and bla-bla-bla</h3>
                                </div>
                            </a>
                        </div>
                        <footer class="card__footer">
                            <div class="video-info">
                                <div class="video-info__watchers">
                                    <span class="video-info__icon">
                                        <svg class="icon" width="9" height="8">
                                            <use xlink:href="/assets/images/sprite.svg#ico-eye-small" />
                                        </svg>
                                    </span>
                                    <span class="video-info__number">1,374</span>
                                    <span class="video-info__name">watching</span>
                                </div>
                            </div>
                            <div class="card__menu-toggle">
                                <svg class="icon" width="15" height="3">
                                    <use xlink:href="/assets/images/sprite.svg#btn-more-small" />
                                </svg>
                            </div>
                        </footer>
                    </article>

                    <article class="card">
                        <header class="card__header">
                             <div class="username">
                                <div class="username__main-info">                                        
                                    <a class="username__link" href="#">
                                        <div class="avatar  avatar--default"><span class="avatar__first-letter">M</span></div>
                                        <div class="username__nickname">medison.eva</div>
                                    </a>
                                </div>
                                <div class="username__secondary-info"></div>
                            </div>
                         </header>
                        <div class="card__content">
                            <a href="#" class="card__link" title="Make eyes look good">
                                <div class="card__tumbnail"></div>
                                <div class="card__title">
                                    <span class="card__category">Highlighting</span>
                                    <h3 class="card__video-title">Make eyes look good</h3>
                                </div>
                            </a>
                        </div>
                        <footer class="card__footer">
                            <div class="video-info">
                                <div class="video-info__watchers">
                                    <span class="video-info__icon">
                                        <svg class="icon" width="9" height="8">
                                            <use xlink:href="/assets/images/sprite.svg#ico-eye-small" />
                                        </svg>
                                    </span>
                                    <span class="video-info__number">1,374</span>
                                    <span class="video-info__name">watching</span>
                                </div>
                            </div>
                            <div class="card__menu-toggle">
                                <svg class="icon" width="15" height="3">
                                    <use xlink:href="/assets/images/sprite.svg#btn-more-small" />
                                </svg>
                            </div>
                        </footer>
                    </article>

                    <article class="card">
                        <header class="card__header">
                             <div class="username">
                                <div class="username__main-info">                                        
                                    <a class="username__link" href="#">
                                        <div class="avatar"><img  class="avatar__img" src="/assets/images/avatar-1.jpg"  width="20" height="20"  alt=""></div>
                                        <div class="username__nickname">bobby.brown</div>
                                    </a>
                                </div>
                                <div class="username__secondary-info"></div>
                            </div>
                         </header>
                        <div class="card__content">
                            <a href="#" class="card__link" title="How To find your perfect lip in 5 minutes and bla-bla-bla">
                                <div class="card__tumbnail    card__tumbnail--has-tumbnail"><img src="/assets/images/tumb-1.jpg" width="auto" height="140" alt="" class="card__img"></div>
                                <div class="card__title">
                                    <span class="skin-color-indicator skin-color-indicator--1"  title="Light skin color"></span>
                                    <span class="card__category">Makeup Tips</span>
                                    <h3 class="card__video-title">How To find your perfect lip in 5 minutes and bla-bla-bla</h3>
                                </div>
                            </a>
                        </div>
                        <footer class="card__footer">
                            <div class="video-info">
                                <div class="video-info__watchers">
                                    <span class="video-info__icon">
                                        <svg class="icon" width="9" height="8">
                                            <use xlink:href="/assets/images/sprite.svg#ico-eye-small" />
                                        </svg>
                                    </span>
                                    <span class="video-info__number">1,374</span>
                                    <span class="video-info__name">watching</span>
                                </div>
                            </div>
                            <div class="card__menu-toggle">
                                <svg class="icon" width="15" height="3">
                                    <use xlink:href="/assets/images/sprite.svg#btn-more-small" />
                                </svg>
                            </div>
                        </footer>
                    </article>

                    <article class="card">
                        <header class="card__header">
                             <div class="username">
                                <div class="username__main-info">                                        
                                    <a class="username__link" href="#">
                                        <div class="avatar  avatar--no-avatar"></div>
                                        <div class="username__nickname">very.very.longusernameverylong</div>
                                    </a>
                                </div>
                                <div class="username__secondary-info"></div>
                            </div>
                         </header>
                        <div class="card__content">
                            <a href="#" class="card__link" title="How To find your perfect lip in 5 min">
                                <div class="card__tumbnail  card__tumbnail--no-tumbnail"><img src="#" width="auto" height="140" alt="" class="card__img"></div>
                                <div class="card__title">
                                    <span class="skin-color-indicator skin-color-indicator--1"  title="Light skin color"></span>
                                    <span class="card__category">Makeup Tips</span>
                                    <h3 class="card__video-title">How To find your perfect lip in 5 min</h3>
                                </div>
                            </a>
                        </div>
                        <footer class="card__footer">
                            <div class="video-info">
                                <div class="video-info__watchers">
                                    <span class="video-info__icon">
                                        <svg class="icon" width="9" height="8">
                                            <use xlink:href="/assets/images/sprite.svg#ico-eye-small" />
                                        </svg>
                                    </span>
                                    <span class="video-info__number">1,374</span>
                                    <span class="video-info__name">watching</span>
                                </div>
                            </div>
                            <div class="card__menu-toggle">
                                <svg class="icon" width="15" height="3">
                                    <use xlink:href="/assets/images/sprite.svg#btn-more-small" />
                                </svg>
                            </div>
                        </footer>
                    </article>

                    <article class="card">
                        <header class="card__header">
                             <div class="username">
                                <div class="username__main-info">                                        
                                    <a class="username__link" href="#">
                                        <div class="avatar"><img  class="avatar__img"  src="/assets/images/avatar-1.jpg"  width="20" height="20"  alt=""></div>
                                        <div class="username__nickname">bobby.brown</div>
                                    </a>
                                </div>
                                <div class="username__secondary-info"></div>
                            </div>
                         </header>
                        <div class="card__content">
                            <a href="#" class="card__link" title="How To find your perfect lip in 5 minutes and bla-bla-bla">
                                <div class="card__tumbnail  card__tumbnail--has-tumbnail"><img src="/assets/images/tumb-1.jpg" width="auto" height="140" alt="" class="card__img"></div>
                                <div class="card__title">
                                    <span class="card__category">Makeup Tips</span>
                                    <h3 class="card__video-title">How To find your perfect lip in 5 minutes and bla-bla-bla</h3>
                                </div>
                            </a>
                        </div>
                        <footer class="card__footer">
                            <div class="video-info">
                                <div class="video-info__watchers">
                                    <span class="video-info__icon">
                                        <svg class="icon" width="9" height="8">
                                            <use xlink:href="/assets/images/sprite.svg#ico-eye-small" />
                                        </svg>
                                    </span>
                                    <span class="video-info__number">1,374</span>
                                    <span class="video-info__name">watching</span>
                                </div>
                            </div>
                            <div class="card__menu-toggle">
                                <svg class="icon" width="15" height="3">
                                    <use xlink:href="/assets/images/sprite.svg#btn-more-small" />
                                </svg>
                            </div>
                        </footer>
                    </article>

                </div>
                    </div>
                </div>
            </div>
        </section>
            </div>

        </section>






    </main>

</div>
