

@font-face {
    font-family: 'OpenSans-Light';
    font-weight: 300; 
    src: url('/assets/Open_Sans/OpenSans-Light.ttf'); 
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400; 
    src: url('/assets/Open_Sans/OpenSans-Regular.ttf'); 
}

@font-face {
    font-family: 'OpenSans-Semibold';
    font-weight: 600; 
    src: url('/assets/Open_Sans/OpenSans-SemiBold.ttf'); 
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    src: url('/assets/Open_Sans/OpenSans-Bold.ttf'); 
}

@font-face {
    font-family: 'OpenSans-Italic'; 
    src: url('/assets/Open_Sans/OpenSans-Italic.ttf'); 
}
