$pale-grey: #eceff1;
$pale-grey-two: #edf0f2;
$pale-grey-three: #f5f6f7;
$pale-grey-four: #f9fafa;
$barbie-pink: #ff5798;
$light-navy-blue: #325b91;
$slate: #4a5d76;
$slate-two: #4c5e76;
$sand: #e7b48f;
$dark-blue-grey-10: rgba(31, 54, 84, 0.1);
$almost-white: #d8d8d8;
$cloudy-blue: #cedadf;
$black: #000000;
$bluegrey: #88a6b0;
$bluegrey-two: #7c9ba7;
$main-dark: #1F3654;
$main-light: white;
$main-light-second: #f8fbfd;
$main-gray: #d0dade;
$main-border-color: #ECEFF1;
$placeholder: #88a5b0;
$main-border-color-light: $pale-grey;
$main-border-active-color: #7caee2;
$main-border-active-border: #dde5f3;
$main-with:  70%;
$main-with__middle: 85%;
$main-with__small: 90%;
$cornflower-blue: #1976d2;
$pink: #FF3E7D;;
$pink-second: #ff3e7d;
$error: #ff3a3a;
$rose-pink: #f59fbc;

$dark-two: #121d2b;
$blue-grey-three: #88a5b0;
$marineblue: #003354;
$silver-three: #cedade;

$bg-color: transparentize($pale-grey, 0.7);
$link-color: $light-navy-blue;

$font-size: 16px;
$font-size-small: 14px;
$font-size-very-small: 12px;

$bg-color: transparentize($pale-grey, 0.7);
$link-color: $light-navy-blue;


$main-padding: 40px;
$main-padding-min: 16px;

$main-font-family: "Open Sans", sans-serif;
$main-font-family-bold: "OpenSans-Semibold", 'Open Sans', sans-serif;
$main-font-family-bolder: "OpenSans-Bold", 'Open Sans', sans-serif;
$main-font-family-light: "OpenSans-Light", 'Open Sans', sans-serif;
$main-font-family-italic: "OpenSans-Italic", 'Open Sans', sans-serif;

$pad-smallest : 5px ;
$pad-small : 10px ;
$pad-middle-light : 15px ;
$pad-middle : 20px ;
$pad-big : 30px ;
$pad-big-very : 60px ;
