@import "../../styles/fonts.scss";
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.main-container-sidebar {
    min-width: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: $marineblue;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.3;

    padding-top: 70px;
    padding-top: 70/ 736 * 100vmax;

    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

}

.small-btn {
    background-color: transparent;
    border-radius: 0;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--currency {
        font-size: 0;
        width: 16px;
        width: 16 / 736 * 100vmax;
        height: 16px;
        height: 16 / 736 * 100vmax;
        margin-left: 8px;
        margin-left: 8 / 736 * 100vmax;
        background-image: url("/assets/images/ico-dollar.png");
    }

    &--back {
        width: 28px;
        width: 28 / 736 * 100vmax;
        height: 28px;
        height: 28 / 736 * 100vmax;
        background-image: url("/assets/images/ico-back.png");
    }

    &--history {
        width: 28px;
        width: 28 / 736 * 100vmax;
        height: 28px;
        height: 28 / 736 * 100vmax;
        background-image: url("/assets/images/ico-history-clock.png");  
    }
}

.sidebar-content {
    padding-bottom: 20px;
    padding-bottom: 20 / 736 * 100vmax;
    color: $marineblue;
    padding: 0 9%;
}


.sidebar-header {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    min-height: 72px;
    min-height: 72 / 736 * 100vmax;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    padding: 0 3.865%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-bottom: 10 / 736 * 100vmax;
    background-color: $dark-two;
    color: white;

}

.sidebar-footer {
    padding: 0 9%;
    margin-top: auto;
    padding-bottom: 20px;
    padding-top: 14px;
    padding-top: 14 / 736 * 100vmax;
    min-height: 124px;
    min-height: 124 / 736 * 100vmax;


    .button {
        max-width: 80%;
        margin: 0 auto;
        font-size: 18px;
        font-size: 18 / 736 * 100vmax;
        line-height: 1;
        text-align: center;
        padding: 19px 30px;
        padding: 19 / 736 * 100vmax 30px;
        text-transform: capitalize;
    }
}

.sidebar-footer__notification {
    width: 56%;
    margin: 0 auto;
    margin-top: 20px;
    margin-top: 20 / 736 * 100vmax;
    font-size: 10px;
    font-size: 10 / 736 * 100vmax;
    text-align: center;
    color: $marineblue;

    .notification__link {
        font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
        font-weight: 600; 
    }
}

.sidebar-title {
    font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;
    text-align: center;
    width: calc(100% - 56px);
    width: calc(100% - 56  / 736 * 100vmax);

    span {
        color: white;
    }
}

.balance {
    padding: 48px 9%;
    padding:  47 / 736 * 100vmax 9%;
    background-color: $dark-two;
    color: $blue-grey-three;
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;
    text-transform: capitalize;

    p, span {
        color: $blue-grey-three;
    }

    .balance__amount {
        margin-top: 6px;
        margin-top: 6 / 736 * 100vmax;
        color: white;
        font-size: 34px;
        font-size: 34 / 736 * 100vmax;
        font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
        font-weight: 600px;
    }

    .icon--currency {
        width: 22px;
        width: 22 / 736 * 100vmax;
        height: 22px;
        height: 22 / 736 * 100vmax;
        margin: 0;
        margin-right: 6px;
        margin-right: 6 / 736 * 100vmax;
    }

}


.faq__question {
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;
    margin-top: 26px;
    margin-top: 26 / 736 * 100vmax;

    margin-bottom: 14px;
    margin-bottom: 14 / 736 * 100vmax;
    font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
    font-weight: 600;
    color: $marineblue;
}

.faq__answer {
    font-size: 16px;
    font-size: 16 / 736 * 100vmax;
    margin: 14px 0;
    margin: 14 / 736 * 100vmax 0;
    font-family: "OpenSans-Light", "Open Sans", sans-serif;
    font-weight: 300;
    color: $marineblue;
}

.withdraw__p {
    margin-top: 18px;
    margin-top: 18 / 736 * 100vmax;
    margin-bottom: 12px;
    margin-bottom: 12 / 736 * 100vmax;
    font-size: 16px;
    font-size: 16 / 736 * 100vmax;
    color: $main-dark;
    font-family: "OpenSans-Light", "Open Sans", sans-serif;
    font-weight: 300;
}

.withdraw__option {
    &:not(:last-child) {
        border-bottom: 0.7px solid transparentize($silver-three, 0.7);
    }

    .withdraw__amount-radio-btn {
        @include visually-hidden;
    }
}

.withdraw__amount-radio-btn:disabled + .withdraw__amount {
    opacity: 0.3;
    cursor: auto;
}

.withdraw__amount {
    display: block;
    padding: 18px 0;
    padding: 18 / 736 * 100vmax 0;
    font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
    font-weight: 600; 
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;
    line-height: 1.5;

    background-image: url("/assets/images/ico-half-arrow.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;

    cursor: pointer;

    span {
        display: inline-block;
        vertical-align: middle;
    }

}

.broadcast-details__item,
.income-history__link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--underlined {
        padding:  20px 0;
        padding: 10 / 736 * 100vmax 0;

        &:not(:first-of-type) {
            border-top: 0.7px solid transparentize($silver-three, 0.7);
            margin-top: 20px;
            margin-top:  20 / 736 * 100vmax;
        }
    }
}

.income-history__link {
    padding-right: 24px;
    padding-right: 24 / 736 * 100vmax;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 16px;
    background-size: 16 / 736 * 100vmax;
    background-image: url("/assets/images/ico-half-arrow.png");
}

.broadcast-details__item-name {
    padding: 10px 0;
    padding: 10 / 736 * 100vmax 0;
    text-align: left;
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;
}

.broadcast-details__item-value {
    padding: 10px 0;
    padding: 10 / 736 * 100vmax 0;
    text-align: right;
    font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;

    span {
        display: inline-block;
        vertical-align: middle;
    }

}

.income-history__item {
    padding:  10px 0;
    padding: 10 / 736 * 100vmax 0;

    &:not(:first-of-type) {
        border-top: 0.7px solid transparentize($silver-three, 0.7);
    }
}

.income-history__month {
    margin-top: 18px;
    margin-top: 18 / 736 * 100vmax;
    font-family: "OpenSans-Light", "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-size: 16 / 736 * 100vmax;
    text-align: left;
    color: $main-dark;
}

.income-history__date {
    padding: 10px 0;
    padding:  10/ 736 * 100vmax 0;
    text-align: left;
    font-size: 16px;
    font-size: 16 / 736 * 100vmax;
}

.income-history__balance {
    padding: 10px 0;
    padding: 10 / 736 * 100vmax 0;
    text-align: right;
    font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;

    span {
        display: inline-block;
        vertical-align: middle;
    } 
}

.income-history-item__detail {
    margin-top: 36px;
    margin-top: 36 / 736 * 100vmax;
}


.income-history-item__detail-name {
    font-size: 14px;
    font-size: 14 / 736 * 100vmax;
    color: $bluegrey-two;
}

.income-history-item__detail-value {
    font-size: 18px;
    font-size: 18 / 736 * 100vmax;
    margin: 8px 0;   
    margin: 8 / 736 * 100vmax 0;

    .income-history-item__detail--amount & {
        font-family: "OpenSans-Semibold", "Open Sans", sans-serif;
        font-weight: 600;
    }

}

.withdraw-terms__subtitle {
    font-family: "OpenSans-Bold", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-size: 23 / 736 * 100vmax;
    margin-top: 20px;
    margin-top: 20 / 736 * 100vmax;
    margin-bottom: 12px;
    margin-bottom: 12 / 736 * 100vmax;
}

.withdraw-terms__p {
    font-size: 16px;
    font-size: 16 / 736 * 100vmax;
    line-height: 1.3;
    color: $marineblue;
}