

<div>

    <app-header>
    </app-header>


    <div class="main-container-in container__after-header"
    *ngIf="templCase === templateCase.Company" >
     
        <div class="main-container-in">

            <h3 class="text text__big text__dark " > Fabulive Team </h3>

            <p  class="text text__normal text__dark text__italic" >
                “Create goals so strong that obstacles, failure and loss only 
                act as motivation”
            </p>

        </div>
        
        <div class="main-container-in">

            <h5 class="text text__middle text-left text__dark pad__without-bot cntr__row">  
                Contacts </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">
            Feedback:
            <br />
            support@fabulive.com
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">
            Head Office Fabulive Ltd:
            <br />
            Suite 1404, Tung Wai Commercial Building, 109-111 Gloucester Road, Wanchai, Hong Kong
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">
            Phone:
            <br />
            (852) 2723 3336
            </p>

        </div>
    
    </div>

    <div class="main-container-in container__after-header"
    *ngIf="templCase === templateCase.Terms" >

                
            <h5 class="text text__middle text-left text__dark pad__without-bot cntr__row">  
                    Fabulive Terms of Service
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">
Fabulive is the Mobile Application developer and owned by Fabulive Ltd Registered at Suite 1404, Tung Wai Commercial Building, 
109-111 Gloucester Road, Wanchai, Hong Kong
            </p>

            
                
            <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                   Acceptance of Terms
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
The Terms of Service ("Terms") you are reading are a legal agreement between Fabulive Limited and yourself ("you"). 
By accessing or using any Fabulive Limited application ("Service") you agree that you have read, understood, accept and 
agree to be bound by these Terms. If you do not agree to these Terms, then you are not authorized to use the service.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited reserves the right, in its sole discretion, to revise or modify these Terms at any time, and you agree to be 
bound by such revisions or modifications. Users are responsible for viewing these Terms periodically. Your continued use of the Service 
after a change or modification of these Terms has been made will constitute your acceptance of the revised Terms. If you do not agree to the 
Terms your only remedy is to discontinue your use of the Service and to cancel any account, you have created using the Service.
            </p>

             <p class="text text__normal-small text__left text__dark cntr__row">  
If you violate the Terms, Fabulive Limited reserves the right to issue you a warning regarding the violation or immediately terminate or 
suspend any or all accounts you have created using the Service. You agree that Fabulive Limited need not provide you notice before terminating or 
suspending your account(s), but it may provide such notice in its sole discretion.
            </p>

             <p class="text text__normal-small text__left text__dark cntr__row">  
You agree that Fabulive Limited may change any part of the Service, including its content, at any time 
or discontinue the Service or any part thereof, for any reason, without notice to you and without liability.
            </p>

             <p class="text text__normal-small text__left text__dark cntr__row">  
The Service is intended for use by those 18 years or older for amusement purposes only. You declare that you are 13 years old or older.
If you are between the ages of 13 and 18, you declare that your legal guardian has reviewed and agrees to these Terms..
            </p>

                
            <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Account information
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
During the process of creating an account to access the Service ("Account"), you may be required to select a password or to allow 
us to access your account information from a social network service ("Login Information"). The following rules govern the security of 
your Account and Login Information. For the purposes of these Terms, references to Account and Login Information shall include any account 
and account information, including user names, passwords or security questions, whether or not created for the purpose of using the Service, 
that are used to access the Service (for example, account information for a social network service account from which the Service is accessed):
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You shall not share your Account or Login Information, nor let anyone else access your Account or do anything 
else that might jeopardize the security of your Account. Fabulive Limited will not ask you to reveal your password 
and will not initiate contact with you asking for answers to your password security questions.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
In the event you become aware of or reasonably suspect any breach of security, including, without limitation any loss, theft, 
or unauthorized disclosure of your Login Information or unauthorized access to your Account, you must immediately notify Fabulive Limited and modify your Login Information.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You are solely responsible for maintaining the confidentiality of the Login Information, 
and you will be responsible for all uses of your Login Information, including purchases, whether or not authorized by you.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You are responsible for anything that happens through your Account, whether or not such actions were taken by you. 
You therefore acknowledge that your Account may be terminated if someone else uses it to engage in any activity that violates the Terms of Service or is otherwise improper or illegal.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You undertake to monitor your Account to restrict use by minors, and you will deny access to children under the age of 13. You accept full 
responsibility for any unauthorized use of the Service by minors and you acknowledge that you are responsible for any use of your credit card or other payment 
instrument (for example, paypal) by minors.    
            </p>

                        <p class="text text__normal-small text__left text__dark cntr__row"> 
Fabulive Limited reserves the right to remove or reclaim any usernames at any time and for any reason, including but not 
limited to claims by a third party that a username violates the third party's rights.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You understand that your user ID number, name and profile picture will be publicly available and that search engines may index your name and profile photo.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
Any personal information you provide to us when creating or updating your account, which may include your name, birth date, e-mail address, and, 
in some cases, payment information, will be held and used in accordance with Fabulive Limited's Privacy Policy. You agree that you will supply accurate 
and complete information to us, and that you will update that information promptly after it changes.    
            </p>

             <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    License
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
Subject to your agreement and compliance with these Terms, Fabulive Limited grants you a personal, non-exclusive, non-transferable,
 non-sub licensable, revocable, limited scope license to use the Service. Use of the Service shall be solely for your own, private, 
 non-commercial entertainment purposes and for no other purpose whatsoever. You hereby acknowledge that your license to use the Service is limited by 
 these Terms, and, if you violate or if, at any point, you do not agree to any of these Terms, your license to use the Service shall immediately 
 terminate, and you shall immediately refrain from using the Service. If the Service or any part thereof is determined to be illegal under the 
 laws of the country in which you are situated, you shall not be granted any license to use the Service, and must refrain from using the Service.
            </p>

             <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Account Termination
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited may refuse access to the Service or may terminate your account without notice for any reason, including, 
but not limited to, a suspected violation of these Terms, illegal or improper use of your account, or illegal or improper use 
of the Services, User Content (as defined below), products, or Fabulive Limited intellectual property as determined by Fabulive 
Limited in its sole discretion. You may lose your user name and persona, if applicable, as a result of account termination, without 
responsibility on the part of Fabulive Limited for any damage that may result from the foregoing. If you have more than one account, 
Fabulive Limited may terminate all of your accounts.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
In addition to the foregoing, Fabulive Limited may selectively remove, revoke or garnishee Benefits associated with your account. 
"Benefits" mean licensed rights granted, awarded, gifted, provided to and/or purchased by you to access and/or use online or off-line 
elements or features of the Service and/or products, and include but are not limited to paid and free downloadable content, virtual currency,
 digital and/or virtual assets, unlockable content, rights of use tied to unlock keys or codes, serial codes and/or online authentication of any 
 kind, and in-game achievements. If your account, or a particular subscription for the Service associated with your account, is terminated,
  suspended and/or if any Benefits are selectively removed, revoked or garnisheed from your account, no refund will be granted, no Benefits 
  will be credited to you or converted to cash or other forms of reimbursement, and you will have no further access to your account or Benefits 
  associated with your account or the particular Service.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
You acknowledge that Fabulive Limited is not required to provide you notice before suspending or terminating your account or selectively 
removing, revoking or garnisheeing Benefits associated with your account. In the event that Fabulive Limited terminates your account, you
 may not participate in any of the Services again without Fabulive Limited express permission. Fabulive Limited reserves the right to refuse 
 to keep accounts for, and provide access to the Service or other services to, any individual. You may not allow individuals whose accounts 
  have been terminated by us to use your account. If you believe that any action has been taken against your account in error, please contact 
  us at support@monsterbrainstudios.com
            </p>


             <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    User Content
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
You agree that any content published by you through the Service is done so through the use of technology and tools provided by Fabulive 
Limited. You agree that you are publishing such content willingly and you represent that you own such content, that you have all rights to publish 
said content and that your publishing of the content complies with all applicable laws. You understand and agree that you may not distribute, sell, 
transfer or license this content and/or application in any manner, in any country, or on any social network, or other medium without the explicit prior 
written permission of Fabulive Limited. You grant Fabulive Limited the right to act as an agent on your behalf as the Service's operator.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
Any data, text, graphics, photographs, or any other content, and their selection and arrangement, uploaded to the Service by any 
user ("User Content") are subject, whether in whole or in part, to unlimited worldwide commercial, non-commercial and/or promotional 
use by Fabulive Limited. Any text, graphics, photographs, files or other User Content uploaded by you shall be your sole responsibility 
and you hereby agree that you may be held liable for any User Content that you upload. Fabulive Limited shall not bear any responsibility 
for any of the abovementioned content.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited may or may not regulate User Content and provides no representations or guarantees regarding the accuracy, quality, 
or integrity of any User Content posted via the Service. By using the Service you acknowledge and accept that you may be exposed to 
material you find offensive or objectionable. You agree that Fabulive Limited will not under any circumstances be responsible or liable 
for any User Content, including, but not limited to, errors in any User Content or any loss or damage incurred by use of the User Content 
or for any failure to or delay in removing User Content.
            </p>

              <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited reserves the right (but shall at no time be obligated) to, in its sole discretion, remove, block, edit, move, disable 
or permanently delete User Content from the Service with or without notice for any reason whatsoever. You hereby agree that, to the maximum 
extent permitted by applicable law, Fabulive Limited shall at no time be responsible or held liable for the removal, modification or blocking 
of material or User Content that may be considered offensive and shall at no time be obligated to effect such removal other than under applicable law.
            </p>

              <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Communication Channels
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
The Service may provide communication channels such as forums, communities, or chat areas ("Communication Channels") designed to enable 
you to communicate with other Service users. Fabulive Limited is under no obligation to monitor these communication channels but may do so, 
and reserves the right to review materials posted to the Communication Channels and to remove any materials, at any time, with or without notice 
for any reason, at its sole discretion. Fabulive Limited may also terminate or suspend your access to any Communication Channels at any time, 
without notice, for any reason. You acknowledge that chats, postings, or materials posted by users on the Communication Channels are neither 
endorsed nor controlled by Fabulive Limited, and these communications should not be considered reviewed or approved by Fabulive Limited. 
You will be solely responsible for your activities within the Communication Channels and under no circumstances will Fabulive Limited be liable 
for any activity within the Communication Channels.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
You agree that all your communications within the Communication Channels are public, and you have no expectation of privacy regarding your 
use of the Communication Channels. Fabulive Limited is not responsible for information that you choose to share on the Communication Channels, or for the actions of other users.
            </p>

             <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Virtual Currencies, Goods and Purchases
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
The Service may include an opportunity to purchase virtual, in-game currency ("Coins/gifts") that may require you to pay a fee using 
real money to obtain the Coins/gifts. Coins/gifts can never be redeemed for real money, goods, or any other item of monetary value from 
Fabulive Limited or any other party. You understand that you have no right or title in the virtual in-game items, gifts or Coins.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
Your purchase of Coins/gifts is final and is not refundable, transferable or exchangeable, except in Fabulive Limited sole 
discretion. You can’t purchase, sell, or exchange Coins/gifts outside the Service. Doing so is a violation of the Terms and 
may result in termination of your Service account and/or legal action taken against you. Fabulive Limited retains the right to 
manage, control, modify and/or eliminate Coins/gift or any other form of virtual currency at its sole discretion. Prices and availability 
of Coins/gifts are subject to change without notice.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
Coins/gifts may only be held by legal residents of countries where access to and use of the Services are permitted. Coins/gifts 
may only be purchased or acquired from us and through means we provide on the applicable website or otherwise expressly authorize. 
We reserve the right to refuse your request to purchase and/or acquire Coins/gifts for any reason. When you purchase Coins/gifts, 
they will reside in your account ("Game Account") until discharged through use of the Service. When purchasing Coins/gifts or other 
content as may be made available, you agree to pay us the applicable charges for your purchase, including applicable taxes, using a 
valid charge card or other payment method we may accept in accordance with the billing terms and prices in effect at the time the fee 
or charge becomes payable. All sales of Coins/gifts and/or other content are final. If your Game Account is charged for items you did not 
purchase, or you did not receive the items you purchased, or you were charged an incorrect amount, you may request a refund or correction 
in accordance to payment provider policy. Any refund request must be received within 96 hours from the time of purchase in order for refunds 
to be issued in accordance to payment provider policy. Refund requests past 96 hours from time of purchase will be honored according only in 
accordance to payment provider policy. Other than charges to your Game Account, you agree to notify us about any billing problems or discrepancies 
within 30 days after they first appear on your account statement. If you do not bring them to our attention within 90 days, you agree that you waive 
your right to dispute such problems or discrepancies. You are responsible for and agree to reimburse us for all reversals, charge-backs, 
claims, fees, fines, penalties and other liability incurred by us (including costs and related expenses) that were caused by or arising out 
of payments that you authorized or accepted. You understand that we may suspend or terminate your user account or Game Account if for any reason 
a charge you authorize us to make to your credit card or other method of payment cannot be processed or is returned to us unpaid and, if such 
event occurs, you shall immediately remit to us payment for such charge through an alternative payment method.
            </p>


             <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Remunerations and Payouts
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
Please be aware that Fabulive Limited doesn't offer any real money, goods, or any other items of monetary value as remuneration 
in any of our applications and Services. All Monster Brain Games are played with in-game virtual currency ("Coins/gifts") only, 
which cannot be repaid in terms of real value at any conditions. By accepting these Terms you confirm, that you are aware of how 
Fabulive Limited services are functioning and becoming authorized for the purpose of using them.

            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
All compensations in Fabulive Limited Services are done in the form of in-game virtual currency, 
game power-ups and additional energy supplies. All the assets you win playing any of Fabulive Limited 
Services are not transferable outside the games and have no real value. They cannot be traded or exchanged 
outside Monster Brain Studios Services and if it takes place, it violates Fabulive Limited Terms and can 
cause termination of your Service Account and/or legal actions taken against you. 
            </p>


            <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Rules of Conduct and Usage
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
You represent and warrant that you have full right and authority to use the Services and to be bound by these Terms. 
You agree that you will comply fully with all applicable laws, regulations, statutes, ordinances, and the Terms herein.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
You undertake that you shall not defraud, or attempt to defraud, Fabulive Limited or other users, and that you shall 
not act in bad faith in your use of the Service. If Fabulive Limited determines that you do act in bad faith in violation 
of these Terms, or if Fabulive Limited determines that your actions fall outside of reasonable community standards, 
Fabulive Limited may, at its sole discretion, terminate your account and prohibit you from using the Service.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
You agree that your use of the Service shall be lawful and that you will comply with the usage rules. In furtherance of the foregoing, and as an example and not as a limitation, you agree that you shall not:
<br>	   • Create an account with or access the Service if you are under the age of 13;
<br>	   • Upload, post, transmit or otherwise disseminate material that is vulgar, indecent, obscene, pornographic, sexual or that is, in a reasonable person's view, otherwise offensive or objectionable;
<br>	• Libel, ridicule, defame, mock, stalk, intimidate, threaten, harass, or abuse anyone, hatefully, racially, ethnically or in any other manner;
<br>	• Upload or transmit (or attempt to upload or transmit) files that contain viruses, Trojan horses, worms, time bombs, cancel bots, corrupted files or data, or any other similar software or programs that may damage the operation of the Service or the computers of other users of the Service;
<br>	• Advertise, solicit or transmit any commercial advertisements, including chain letters, junk e-mail or repetitive messages (spim or spam) to anyone;
<br>	• Violate the contractual, personal, intellectual property or other rights of any party including by using, uploading, transmitting, distributing, or otherwise making available any information or material made available through the Service in any manner that infringes any copyright, trademark, patent, trade secret, or other right of any party (including rights of privacy or publicity);
<br>	• Create false personas, multiple identities, multiple user accounts, set up an account on behalf of someone other than yourself, use bots or other automated software programs to defraud or which otherwise violate these Terms of Service and/or the terms of service of any third-party applications or social networks through which the Service is accessed;
<br>	• Attempt to obtain passwords or other private information from other members including personally identifiable information (whether in text, image or video form), identification documents, or financial information;
<br>	• Upload or transmit (or attempt to upload or to transmit), without Fabulive Limited express permission, any material that acts as a passive or active information collection or transmission mechanism, including, without limitation, clear graphics interchange formats ("gifs"), 1×1 pixels, web bugs, cookies or other similar devices (sometimes referred to as "spyware," "passive collection mechanisms" or "pcms");
<br>	• Improperly use support channels or complaint buttons to make false reports to Fabulive Limited;
<br>	• Develop, distribute, use, or publicly inform other members of "auto" software programs, "macro" software programs or other "cheat utility" software programs or applications;
<br>	• Exploit, distribute or publicly inform other members of any game error, miscue or bug which gives an unintended advantage;
<br>	• Deal with Coins/gifts in a manner that violates these Terms, including transferring Coins/gifts to other individuals, parties, or entities, selling or re-selling Virtual Currency or virtual goods or fraudulently obtaining or acquiring Virtual Currency or other products or services;
<br>	• Rent, lease, sell, trade, gift, bequeath or otherwise transfer your account to anyone without Fabulive Limited written permission;
<br>	• Access or use an account which has been rented, leased, sold, traded, gifted, bequeathed, or otherwise transferred from the account creator without Fabulive Limited written permission;
<br>	• Engage in any fraudulent activity with respect to payment methods or advertiser tracking mechanisms;
<br>	• Violate any applicable laws or regulations, or encourage or promote any illegal activity including, but not limited to, copyright infringement, trademark infringement, defamation, invasion of privacy, identity theft, hacking, cracking or distribution of counterfeit software, or cheats or hacks for the Service;
<br>	• Attempt to use the Service on or through any service that is not authorized by Fabulive Limited. Any such use is at your own risk and may subject you to additional or different terms. Fabulive Limited takes no responsibility for your use of the Service through any service that is not authorized by it;
<br>	• Post or communicate any person's real-world personal information using the Service;
<br>	• Attempt to interfere with, hack into or decipher any transmissions to or from the servers for the Service; or
<br>	• Interfere with the ability of others to enjoy using the Service, including disrupt, overburden or aid the disruption or overburdening of the Service servers, or take actions that interfere with or materially increase the cost to provide the Service for the enjoyment of all its users.

            </p>


             <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Intellectual Property (IP) Ownership
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited retains all rights in the Service materials (including, but not limited to, applications, software, designs, 
graphics, texts, information, pictures, video, sound, music, and other files, and their selection and arrangement) (collectively, 
"Service Materials"). The entire contents of the Service are protected by applicable copyright, trade dress, patent, and trademark laws, 
international conventions, and other laws protecting intellectual property and related proprietary rights.

            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
You shall not, nor shall you cause any other party to modify, decompile, disassemble, reverse engineer, copy, transfer, 
create derivative works from, rent, sub-license, distribute, reproduce framed, republish, scrape, download, display, transmit, 
post, lease or sell in any form or by any means, in whole or in part, use for any purpose other than for using the Service pursuant 
to these Terms or otherwise exploit any of the Service Materials without Fabulive Limited explicit, prior written permission. 
The foregoing shall not apply to your own User Content that you post through the Service in accordance with these Terms. All other 
uses of copyrighted or trade mark material, including any derivative use, require explicit, prior written permission from Fabulive 
Limited. Any reproduction or redistribution of materials not in accordance with these Terms is explicitly prohibited and may result 
in the termination of your Service account as well as severe civil and criminal penalties.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited and/or its licensors and affiliates own all right, title, and interest, including copyrights and other intellectual 
property rights, in and to all the Service Materials. You hereby acknowledge that you do not acquire any ownership rights by using the 
Service or by accessing any of the Service Materials, or rights to any derivative works thereof.

            </p>

              
            <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
                    Disclaimer of Warranty; Limitation of Liability
            </h5>

            <p class="text text__normal-small text__left text__dark cntr__row">  
You agree that your use of the Service shall be at your sole risk. To the fullest extent permitted by law, Fabulive Limited, 
its officers, directors, employees, and agents disclaim all warranties, explicit or implied, in connection with the Service and 
your use thereof including implied warranties of merchantability, title, fitness for a particular purpose or non-infringement, 
usefulness, authority, accuracy, completeness, and timeliness. Fabulive Limited makes no warranties or representations about the 
accuracy or completeness of the content of the Service of the content of any sites linked to the Service and assume no liability or responsibility for any:

            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
(i) Errors, mistakes, or inaccuracies of content;
(ii) Personal injury or property damage, of any nature whatsoever, resulting from your access to and use of the Service;
(iii) Any unauthorized access to or use of Fabulive Limited secure servers and/or any and all personal information and/or financial information stored therein;
(iv) Any interruption or cessation of transmission to or from the Service;
(v) Any bugs, viruses, Trojan horses, or the like which may be transmitted to or through the Service by any third party; or
(vi) Any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the Service.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
In no event will Fabulive Limited, its directors, officers, agents, contractors, partners and employees, be liable to you or any third person for any special, direct, indirect, incidental, special, 
punitive, or consequential damages whatsoever including any lost profits or lost data arising from your use of the Service or other materials on, accessed through or downloaded from the Service, 
whether based on warranty, contract, tort, or any other legal theory, and whether or not Fabulive Limited has been advised of the possibility of these damages. The foregoing limitation of liability 
shall apply to the fullest extent permitted by law in the applicable jurisdiction. You specifically acknowledge that Fabulive Limited shall not be liable for user submissions or defamatory, offensive, 
or illegal conduct by any third party and that the risk of harm or damage from the foregoing rests entirely with you.
            </p>

             <p class="text text__normal-small text__left text__dark cntr__row">  
You agree to indemnify and hold Fabulive Limited, and each of its directors, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, demand, damages, 
costs and expenses, including reasonable attorney's fees, arising out of or in connection with:
            </p>


             <p class="text text__normal-small text__left text__dark cntr__row">  
(i) Your use of and access to the Service;
(ii) Your violation of any term of these Terms;
(iii) Your violation of any third party right, including without limitation any copyright, property, or privacy right;
(iv) Any claim that a user submissions made by you has caused damage to a third party; or
(v) Any User Content you post or share on or through the Service.
            </p>

                 <p class="text text__normal-small text__left text__dark cntr__row">  
Fabulive Limited reserves the right to amend these Terms of Service at any time and without notice, and it is your responsibility to review these Terms of Service for any changes. Your use of the Service 
following any amendment of these Terms of Service will signify your assent to and acceptance of its revised terms. YOU AND FABULIVE LIMITED AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE 
SERVICE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
            </p>

             <p class="text text__normal-small text__left text__dark cntr__row">  
If you do not agree with the terms and conditions of this document, please discontinue using any of Fabulive Limited services. If there are any questions regarding these 
Terms and Conditions you may contact us to the following address: support@fabulive.com

            </p>


    </div>

    <div class="main-container-in container__after-header"
    *ngIf="templCase === templateCase.Policy" >

<h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
    Privacy Policy
</h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
Welcome to Fabulive, a community to learn anything from anyone. The Fabulive web site and service including 
(without limitation) all websites, mobile applications and other interactive properties through which the service 
is delivered (collectively, the “Service”) are owned, operated and distributed by Fabulive Limited. By accessing any
 part of the Service, you are agreeing to the terms and conditions described below (this “Privacy Policy”) and the 
 terms and conditions of our terms of service (the “Terms of Service”). If you do not agree to any of these terms, 
 you should not use the Service. This Privacy Policy applies to all users, including both users who are simply viewing 
 content available via the Service and users who have registered as members of Fabulive.
            </p>
            <p class="text text__normal-small text__left text__dark cntr__row"> 
We may, at our sole discretion, modify this Privacy Policy at any time. By accessing the Service at any time after such 
modifications, you are agreeing to such modifications. This Privacy Policy was last modified as of July 5, 2017.
            </p>

<h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
General
</h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
Your privacy is very important to us. Accordingly, we have developed this Privacy Policy in order for you to understand 
how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
            </p>

<h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Personal Information
</h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
When your register with us and become a Fabulive Member, we will ask you for personally identifiable information. This refers 
to information about you that can be used to contact or identify you. This includes, but is not limited to, your name, email
 address, but does not include your credit card number of billing information. PayPal processes all of the transactions on 
 Fabulive, and the information you provide to PayPal is subject to its privacy policy. We do not receive any of the credit 
 card information you provide to PayPal.
            </p>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
In order to send you e-mail from Fabulive, we need your e-mail address. To provide you with additional services, we may 
also request your name, geographical coordinates, and telephone number. We will not give your name, email, or other personal
 information to unaffiliated third parties except with your consent or as otherwise set forth in this privacy policy. 
 Though we make every effort to preserve user privacy, we may need to disclose personal information when required by law 
 or when we have a good faith belief that such action is necessary to comply with a current judicial proceeding, a court
  order or legal process that we receive or to protect our interests or the safety of others. 
            </p>

  <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Other Information
  </h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
We use your IP address to help diagnose problems with our server, to administer our Service, and to analyze traffic patterns
 on the Service. We use cookies, web beacons and similar technology to deliver content specific to your interests and to save 
 your password so you don't have to re-enter it each time you visit. We may also use web beacons and similar technology in emails 
 that we send to you in order to track whether the emails have been opened. In addition, our web servers track information about 
 the visits to the Service. For example, we compile statistics that show the daily number of visitors to the Service, the daily 
 requests we receive for particular files on the Service, and what geographical areas those requests come from. These aggregated 
 statistics are used internally to better provide services to the public and may also be provided to others.
            </p>

 <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Voluntary Disclosure
 </h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
Any personal information or content that you voluntarily disclose in public areas becomes publicly available and can be collected
 and used by other users for any reason. Your profile page is typically publicly available, although you have the ability to change 
 the settings to limit access to these areas. You should exercise caution before disclosing your personal information via these or 
 any other public venues.
            </p>

 <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Children’s Privacy
 </h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
You must be at least 13 years old to register to use the Service. Accordingly, we do not collect any personal information 
from children.
            </p>

<h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Third Party Advertising
</h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
We may use third-party advertising companies to serve ads when you visit the Service. These companies may use information 
(not including your name, address, email address or telephone number) about your visits to this and other Web sites in order 
to provide advertisements on the Service and other sites about goods and services that may be of interest to you. In the course 
of serving advertisements to this site, third-party advertisers may also place or recognize a unique "cookie" on your browser, 
or use other technologies such as Java scripts or web beacons.
            </p>

<h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Other Sites
</h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
The Service may contain links to other Web sites or services. We are not responsible for the privacy practices or the content of
 such Web sites or services, and you should review the privacy policy of each such Web site or service to make sure that you are
  comfortable with it before providing any personal information. For example, all payments for classes are processed through PayPal. 
  As discussed above, we do not receive any of the information you provide to PayPal, and all such information is subject to PayPal’s 
  privacy policy.
            </p>

  <h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Miscellaneous
  </h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
In the event that we are acquired by or merged with a third party entity, we reserve the right to transfer or assign the information 
we have collected from users as part of such merger, acquisition, sale, or other change of control. In the unlikely event of our 
bankruptcy, insolvency, reorganization, receivership, or assignment for the benefit of creditors, or the application of laws or 
equitable principles affecting creditors' rights generally, we may not be able to control how your personal information is treated,
 transferred, or used.
            </p>
             <p class="text text__normal-small text__left text__dark cntr__row"> 
The Service is hosted in the United States and is intended for and directed to users in the United States. If you are accessing
 the Service from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use,
  and disclosure, that differ from United States laws, please be advised that through your continued use of the Service, which 
  is governed by United States law, this Privacy Policy, and our Terms of Service, you are transferring your personal information
   to the United States and you consent to that transfer.
             </p>
               <p class="text text__normal-small text__left text__dark cntr__row"> 
California Civil Code Section 1798.83 permits users of the Service who are California residents to request certain information 
regarding its disclosure of personal information to third parties for their direct marketing purposes. To make such a request, 
please send an e-mail with "California Privacy Rights" in the heading to support@fabulive.com or write us at the address listed below.
             </p>

<h5 class="text text__middle-small text-left text__dark pad__without-bot cntr__row">  
Contact Us
</h5>

            <p class="text text__normal-small text__left text__dark cntr__row"> 
If you have any questions, you can contact us at support@fabulive.com or at Suite 1404, Tung Wai Commercial Building, 
109-111 Gloucester Road, Wanchai, Hong Kong.
            </p>
 


    </div>

        <app-footer>      
        </app-footer>

    </div>
