<div class=" animated fadeIn pad__top-middle dashboard-wrap table-wrap ">

    <div class="reports-header">

        <div class="reports-header__tabs">

            <button type="button" class="btn item-right tab-item"
        [class.tab-item--is-active]=" id == 'broadcasters' " 
        (click)=" setReportListId('broadcasters') ">
                Broadcasters
                <span class="broadcasters-number">
                12301</span>
            </button>

            <button type="button" class="btn item-right tab-item"
        [class.tab-item--is-active]=" id == 'chatReports' "  
        (click)=" setReportListId('chatReports') ">
                Chat reports
                <span class="chat-reports-number">
                5932</span>
            </button>

        </div>
        <div class="reports-header__reload">

            <button class="btn btn-secondary btn--reload" type="button">
                <svg class="icon" width="16" height="16"><use xlink:href="assets/img/sprite.svg#ico-refresh" /></svg>
                Reload
                <span class="new-reports-number">
                244</span>
                </button>

        </div>

    </div>

    <div class=" "
    *ngIf=" id == 'broadcasters' ">

        <ngx-datatable
            #myTable
            class='material expandable'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="50"
            [scrollbarV]="50"
            [rows]='rows' >

            <!-- Row Detail Template -->
        <ngx-datatable-row-detail style="border: 1px solid red !important;" 
            [rowHeight]="200"
            #myDetailRow 
            (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-value="value" ngx-datatable-row-detail-template >


            <!-- LOL -->

            <div class="dashboard-table-body ">

              <div *ngFor="let item of row ; let i = index" >
                <div class="dashboard-table-body__row " 
                *ngIf="i != 0" >

                        <div style="min-width:50px; max-width:50px" >

                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:50px" >
                            
                        </div>



                        <div class="dashboard-table-body__cell" style="min-width:100px">
                            {{ item.roomId }}
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:100px"
                        style="width:100px; text-overflow: ellipsis;" >
                            {{ msToTime(item.time) }}
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:100px" >

                        </div>

                        <div class="dashboard-table-body__cell  dashboard-table-body__cell--reason" style="min-width:100px" >
                            {{ item.reason }}
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:100px">
                            {{ item.complainant }}
                        </div>


                        <div class="dashboard-table-body__cell " style="min-width:300px">

                            <!--
                            <span class="report-action-status"
                            *ngIf="item.banned">

                            Banned </span>

                            <button class="btn btn-secondary btn-report btn-report--unban" 
                            *ngIf="item.banned" 
                            > 
                            Unban </button>

                           
                            <button class="btn btn-secondary btn-report" 
                            *ngIf="!item.banned" 
                            (click)="ban(item)" > Ban </button>
                           
                            <button class="btn btn-secondary btn-report btn-report--warn" 
                            *ngIf="!item.banned" 
                            > 
                            Warn </button>
                                -->

                            <span class="actions-history-item">
                                Unbanned: 10/07/2017
                            </span>
                        </div>

                </div>
              </div>

            </div>

            <!-- LOL -->

        </ng-template>
        </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                    <span
                        class="dashboard-table-body__icon" 
                        title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)"
                        *ngIf=" row.length > 1 && row.$$expanded">
                        <svg class="icon" width="10" height="10" style="transform:rotate(180deg)"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>
                    </span>

                    <span
                        class="dashboard-table-body__icon" 
                        *ngIf=" row.length > 1 && !row.$$expanded " 
                        title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                        <svg class="icon" width="10" height="10"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>
                    </span>

            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column  name="Q-ty" [width]="50" [minWidth]="50" >
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell " >
                {{ row.length }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Room Id" [width]="200" >
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell">
                <div class="dashboard-table-body__cell" >
                {{ row[0]?.roomId }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column  name="Report Date" [width]="100" [minWidth]="100"
                style="width:100px; max-width:100px; text-overflow: ellipsis;" >
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell " >
                {{ msToTime(row[0].time) }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="User Id" [width]="200" [minWidth]="100">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell     dashboard-table-body__cell--userid" >
                {{ row[0]?.userId }} 
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Reason" [width]="200" [minWidth]="100">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell   dashboard-table-body__cell--reason"
                [class.attention]="row.length > 5"
                >
                {{ row[0]?.reason }} 
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Reported by" [width]="200" [minWidth]="100">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell " >
                {{ row[0]?.complainant }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Actions" [width]="300" [minWidth]="300">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >

                <div class="dashboard-table-body__btns">

                    <div class="ban ban--user">

                        <button class="btn btn-secondary btn-report btn-report--toggle"
                        >
                        <!-- Onclick add class toggled to .ban--user & class lifted to .datatable-row-wrapper-->
                            Ban
                            <svg class="icon" width="8" height="6"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>

                        </button>
                        <div class="ban__options">
                            <button class="btn btn-report btn-report--ban"
                            (click)="ban(row[0])" 
                            > 3 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 24 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 1 week </button>
                            <button class="btn btn-report btn-report--ban" 
                            > Forever </button> 
                        </div>               
                    </div>


<!--

                    <button class="btn btn-secondary btn-report btn-report--unban"> 
                    Unban </button>
-->
                    <div class="ban ban--chat"
                    [class.toggled]="0" 
                    >
                        <button class="btn btn-secondary btn-report btn-report--toggle"
                        >
                        <!-- Onclick add class toggled to .ban--chat & class lifted to .datatable-row-wrapper-->
                            Ban chat
                            <svg class="icon" width="8" height="6"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>

                        </button>
                        <div class="ban__options">
                            <button class="btn btn-report btn-report--ban"
                            > 3 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 24 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 1 week </button>
                            <button class="btn btn-report btn-report--ban" 
                            > Forever </button> 
                        </div>               
                    </div>

<!--
                    <button class="btn btn-secondary btn-report btn-report--unban"> 
                    Unban chat </button>
 -->          
                    <button class="btn btn-secondary btn-report btn-report--warn"> 
                    Warn
                    <span class="warning-number">(2)</span>
                    </button>

                </div>

            </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>

    </div> <!-- !!!!!!!!!!!!!!!! -->

    <div class=" "
    *ngIf=" id == 'chatReports' ">


      <ngx-datatable
            #myTable
            class='material expandable'
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="0"
            [rowHeight]="70"
            [scrollbarV]="50"
            [rows]='rows' >

            <!-- Row Detail Template -->
        <ngx-datatable-row-detail style="border: 1px solid red !important;" 
            [rowHeight]="200" 
            #myDetailRow 
            (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-value="value" ngx-datatable-row-detail-template >


            <!-- LOL -->

            <div class="dashboard-table-body ">

              <div *ngFor="let item of row ; let i = index" >
                <div class="dashboard-table-body__row " 
                *ngIf="i != 0" >

                        <div  class="dashboard-table-body__cell " 
                            style="min-width:50px; max-width:50px" >

                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:50px" >
                            
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:100px">
                            {{ item.roomId }}
                        </div>

                        <div  class="dashboard-table-body__cell "
                        style="min-width:100px; text-overflow: ellipsis;" >
                            {{ msToTime(item.time) }}
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:100px">
                            
                        </div>


                        <div class="dashboard-table-body__cell dashboard-table-body__cell--message" style="min-width:100px">
                            <div class="dashboard-table-body__cell-inner">
                            {{ item.message }}  
                            </div>
                            
                            <!-- if text is overflowing -->
                            <div class="dashboard-table-body__cell-full-text">
                                {{ item.message }}
                            </div>
                            
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:100px">
                            {{ item.complainant }}
                        </div>

                        <div class="dashboard-table-body__cell " style="min-width:300px">
 <!--
                            <span class="report-action-status"
                            *ngIf="item.banned">

                            Banned </span>

                            <button class="btn btn-secondary btn-report btn-report--unban" 
                            *ngIf="item.banned" 
                            > 
                            Unban </button>

                            
                            <button class="btn btn-secondary btn-report" 
                            *ngIf="!item.banned" 
                            (click)="ban(item)" > ban </button>
                            
                            <button class="btn btn-secondary btn-report btn-report--warn" 
                            *ngIf="!item.banned" 
                            > Warn </button>
-->
                        </div>

                </div>
              </div>

            </div>

            <!-- LOL -->

        </ng-template>
        </ngx-datatable-row-detail>

            <!-- Column Templates -->
            <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                        <span
                            class="dashboard-table-body__icon"
                            style="transform:rotate(180deg)"
                            title="Expand/Collapse Row"
                            (click)="toggleExpandRow(row)"
                            *ngIf=" row.length > 1 && row.$$expanded">
                            <svg class="icon" width="10" height="10"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>
                        </span>

                        <span
                            class="dashboard-table-body__icon"
                            *ngIf=" row.length > 1 && !row.$$expanded " 
                            title="Expand/Collapse Row"
                            (click)="toggleExpandRow(row)">
                            <svg class="icon" width="10" height="10"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>
                        </span>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Q-ty"  [width]="50" [minWidth]="50" >
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell " >
                {{ row.length }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Room Id" [width]="200" [minWidth]="100">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell">
                <div class="dashboard-table-body__cell " >
                {{ row[0]?.roomId }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column  name="Time"  [width]="100" [minWidth]="100"
                style="width:100px; max-width:100px; text-overflow: ellipsis;" >
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell " >
                {{ msToTime(row[0].time) }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="User Id" [width]="200" [minWidth]="100">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell     dashboard-table-body__cell--userid" >
                {{ row[0]?.userId }} 
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Chat message" [width]="200" [minWidth]="100">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell dashboard-table-body__cell--message" >
                    <div class="dashboard-table-body__cell-inner">
                       {{ row[0]?.message }}
                    </div>
                    
                    <!-- if text is overflowing -->
                    <div class="dashboard-table-body__cell-full-text">
                            {{ row[0]?.message }} 
                    </div>
                
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Reported by" [width]="200" [minWidth]="100" >
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >
                <div class="dashboard-table-body__cell " >
                {{ row[0]?.complainant }}
                </div>
            </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column  name="Actions" [width]="300" [minWidth]="300">
            <ng-template let-row="row" ngx-datatable-cell-template class="table-cell" >

                <div class="dashboard-table-body__btns">

                    <div class="ban ban--user"
                    [class.toggled]="0" 
                    >
                        <button class="btn btn-secondary btn-report btn-report--toggle"
                        >
                            Ban
                            <svg class="icon" width="8" height="6"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>

                        </button>
                        <div class="ban__options">
                            <button class="btn btn-report btn-report--ban"
                            (click)="ban(row[0])" 
                            > 3 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 24 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 1 week </button>
                            <button class="btn btn-report btn-report--ban" 
                            > Forever </button> 
                        </div>               
                    </div>



<!--
                    <button class="btn btn-secondary btn-report btn-report--unban"> 
                    Unban </button>

                    <div class="ban ban--chat"
                    [class.toggled]="0" 
                    >
                        <button class="btn btn-secondary btn-report btn-report--toggle"
                        >
                            Ban chat
                            <svg class="icon" width="8" height="6"><use xlink:href="assets/img/sprite.svg#ico-drop-down" /></svg>

                        </button>
                        <div class="ban__options">
                            <button class="btn btn-report btn-report--ban"
                            > 3 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 24 hours </button>
                            <button class="btn btn-report btn-report--ban" 
                            > 1 week </button>
                            <button class="btn btn-report btn-report--ban" 
                            > Forever </button> 
                        </div>               
                    </div>

 -->
                    <button class="btn btn-secondary btn-report btn-report--unban"> 
                    Unban chat </button>
              
                    <button class="btn btn-secondary btn-report btn-report--warn"> 
                    Warn </button>

                </div>
            

            </ng-template>
            </ngx-datatable-column>

        </ngx-datatable>


    </div> <!-- !!!!!!!!!!!!!!!! -->


</div>